*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.card img{
    height:150px;
    margin-bottom: 10px;
}

.card-cont {
    display:flex;
    flex-wrap:wrap;
    margin:55px;
}
.card {
    padding:10px;
    width:33.33%;
    background-color:green;
    border: 1px solid black;
    height:500px;
    text-align: center;
    position: relative;
}
.lec{
    font-weight:bolder;
    
}

.name-desc{
    margin:10px;
    font-weight:800px;
    font-size:x-large ;
}

.btn-cont{
    display:flex;
    flex-direction: column;
    position:absolute;
    min-width:200px;
    width: 60%;
    top:75%;
    left:20%;
}
.right{
    margin-top:30px;
}
.left,.right{
    height:40px;
    background-color: red;
    color:white;
    font-weight: bolder;
    font-size: large;
    border:2px solid black;
}

@media(max-width: 1200px) {
    .card-cont {
      background-color:blue;
      margin:70px;
    }
}

/* 3 becomes two */
@media(max-width: 1000px) {  
    .card-cont {
        background-color: black;
        margin:20px;
    }
    .card{
        width:50%;
    }
}

/* button horizontal ho gaye  */
@media(max-width: 780px) {
    .card-cont{
        background-color: powderblue;
        margin:0;
    }
    .card{
        width:100%;
    }
    .btn-cont{
        
        flex-direction: row;
        width:90%;
        left:5%;
        justify-content: space-between;
    }
    .left,.right{
        width: 48%;
    }
    .right{
        margin-top:0;
    }
}